# Python
backend/venv/
backend/.venv/
__pycache__/
*.pyc

# Environment files
.env

# Flutter
frontend/build/
frontend/.dart_tool/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies

# Android
frontend/android/.gradle/

# VS Code
.vscode/

# Logs
*.log

# Python cache
__pycache__/
*.pyc

# SQLite
db.sqlite3

# Flutter build files
frontend/build/
frontend/.dart_tool/

# Virtual environments
venv/
.venv/
backend/venv/
backend/.venv/